.time-container {
    text-align: left;
}
.time-inner-container {
    display: inline-block;
}
.time-digits {
    font-size: 4em;
}
.time-text {
    display: flex;
    justify-content: space-around;
    color: grey;
}